.log-in{
  width: 40%;
  margin: 6% 0 0 29%;
  padding: 2% 0 0 0;
  height: 600px;
  max-height: 90%;
  border: 1px solid black;

  & a{
    margin-top: 5%;
  }

  & p{
    margin-top: 5%;
  }
}

.row{
  padding: 2% 0 0 9%;
}
