.sign-up{
  width: 40%;
  margin: 3.8% 0 0 29%;
  padding: 0 0 0 0;
  height: 650px;
  max-height: 90%;
  border: 1px solid black;

  & p{
    margin-top: 2%;
  }
}

.row{
  margin-bottom: 1%;
  padding-left: 7.3%;
}
